.App-wrapper {
    display: grid;
    width: 1200px;
    margin: 0px auto;
    grid-template-rows: 48px 1fr;
    grid-template-columns: 1fr 5fr;

    grid-template-areas:
        'h h'
        's c';
}

.App-wrapper-content {
    grid-area: c;
    background: rgb(161, 38, 38);
}